html,
body {
  font-size: 18px;
  color: #ffffff;
  background-color: #333533;
}

a {
  color: #f5cb5c;
}

a:hover {
  color: #ffe600;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-1 {
  /* background: #063647; */
  background-color: #242423;
}

.section-2 {
  background-color: #333533;
}

.section-3 {
  background-color: #242423;
  padding-top: 10px;
}

.section-4 {
  background-color: #a3b18a;
  padding: 0.2rem;
}

a.nav-item {
  color: #dfdfdf;
}

a.nav-item:hover {
  color: #fff;
}

.avatar {
  height: 290px;
  border-radius: 50%;
}

.intro-description {
  padding-top: 1rem;
}

.social-container img {
  max-width: 15%;
  max-height: 175px;
  margin-bottom: 5px;
  
}

.project-figure {
  margin: 0 auto 1rem auto;
  max-height: 100%;
  max-width: 100%;
}

.project-text {
  text-align: justify;
}

.ver_mais {
  margin: 1.9em;
  padding: 1.2em;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.box,
.ver_mais {
  border-radius: 30px;
  background: #242423;
  box-shadow: 5px -5px 0px #242423, -5px 5px 0px #242423;
}

.title {
  color: #f5cb5c;
  text-align: left;
  margin-bottom: 2rem;
  font-weight: bold;
}

.intro {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

.void-background {
  background-color: transparent;
}

.copy_right {
  text-align: center;
  justify-content: justify;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background-color: #333533;
    font-size: 10px;
  }

  .nav-toggle:hover {
    background-color: transparent;
  }

  .nav-toggle span {
    background-color: #dfdfdf;
  }

  .nav-toggle span:hover {
    background-color: #fff;
  }
}
